#s {
  animation-name: slidein;
  animation-duration: 3s;
  animation-delay: 0.5s;
  position: fixed;
}

#e {
}

#ten {
  animation-name: fadein;
  animation-duration: 3s;
  animation-delay: 0.5s;
  left: 1em;
  position: fixed;
  opacity: 0;
}

#lectrolysi {
  animation-name: fadeout;
  animation-duration: 3s;
  animation-delay: 0.5s;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slidein {
  from {
    top: 8px;
    left: 4.65em;
  }

  to {
    top: 8px;
    left: 2.2em;
  }
}